@import 'defaults/index';
@include breakpoint(large) {

}
section.header {
    color: $color-white;
    background: #999;
    .row {
        padding: 20px;
        justify-content: space-between;
    }
}
